bin
obj
obj/*
bin/*
./bin
./obj
./obj/*
./bin/*
build
.vscode/
venv
venv/*
resources/evolution.txt
resources/evolutionPress.txt
resources/citizens_situation.png
resources/press_agency.png
resources/log.txt
lib
lib/*
doc/html/